@model Test.Models.Curriculum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curriculum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lesson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.Term1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.Term1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
