@model Test.Models.Student

@{
    ViewBag.Title = "Details";
}
@if (!User.IsInRole("Student"))
{
    @Html.Partial("_Sidebar")
}

<div class="main" id="Grid">
    <h2>Report</h2>

    <div>
        <h4>Student</h4>
        <dl class="dl-horizontal">
            <dt>
                <h3>Name</h3>
            </dt>

            <dd>
                @ViewBag.userInfo.FirstName @ViewBag.userInfo.LastName
            </dd>

            <dt>
                <h3>Email</h3>
            </dt>

            <dd>
                @ViewBag.userInfo.Email
            </dd>
            <dt>
                <h3>Total Absent</h3>
            </dt>

            <dd>
                @ViewBag.totalAbsent
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StudentNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentNo)
            </dd>

        </dl>
    </div>

    <table class="table">
        <tr>
            <th>
                First Exam
            </th>
            <th>
                Second Exam
            </th>
            <th>
                Result
            </th>
            <th>
                Lesson Name
            </th>
            <th>
                Absenty
            </th>
        </tr>

        @foreach (var item in ViewBag.reports)
        {
            <tr>
                <td>
                    @item.FirstExam
                </td>
                <td>
                    @item.SecondExam
                </td>
                <td>
                    @if(!(item.FirstExam == null))
                    {
                        var sum =(item.FirstExam + item.SecondExam) / 2;
                        @sum
                    }
                </td>
                        
                <td>
                    @item.Curriculum.Lesson.Name
                </td>
                <td>
                    @item.Absent
                </td>
            </tr>
        }

    </table>

</div>
@if (ViewBag.ready&&User.IsInRole("Principal"))
{
    using (Html.BeginForm("Export", "Students", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
}
else
{
        <p>Report cant be created</p>
}
@if (!User.IsInRole("Student"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
</script>